<% @videos.each do |video| %>
	<p><%= video.name%></p>
	<video id=example-video width=960 height=540 class="video-js vjs-default-skin" controls>
		<source
			src=<%video.url%>
			type="application/x-mpegURL">
	</video>
	<script src="video.js"></script>
	<script src="videojs.hls.min.js"></script>
	<script>
	var player = videojs('example-video');
	player.play();
	</script>
<% end %>