<div class="container mt-3">
   <%= link_to 'Add Course', new_video_path, class: "btn btn-blue mb-3" %>

  <div class="cards">
    <% @videos.each do |video| %>
      <%= link_to video do %>
        <div class= "cards-video">
        	<div class="card-info">
      			<h2><%= video.name %></h2>
      		</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>