<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1040&q=80);">
  <div class="container">
    <h1>Video Challenge!</h1>
    <p>Enjoy my project</p>
    <%= link_to "Join Us", user_session_path, class: "btn btn-secondary" %>
  </div>
</div>

<div id="footer">
  <div class="list-group">
    <h1>Videos <i class="fas fa-photo-video"></i></h1>
  </div>

  <div class="footer-links">
    <a href="https://github.com/" target=”_blank”><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/" target=”_blank”><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target=”_blank”><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/login?lang=pt" target=”_blank”><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" target=”_blank”><i class="fab fa-linkedin"></i></a>
  </div>
</div>
